.pageContainer{
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}


.cartSide {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three equal-width columns */
    grid-gap: 5px; /* Gap between grid items */
    padding: 20px; /* Add some padding around the grid */
    background-color: #fff;
}


.checkoutSide {
    flex: 2;
    background-color: #fff ;
    border-radius: 5px ;
    padding:20px;
}

.itemCard {

    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 16px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #fff;
}

.deleteButton{

    padding: 10px 20px;
    background-color:red;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
    margin:10px;
    float: left ;

}


/* Change button color on hover */
.deleteButton:hover {

    color :red ;
    background-color:#fff;
    border: 1px red solid ;

}

/* Style the "Add to Cart" button */
.itemButton {

    padding: 10px 20px;
    background-color: #39A7FF ;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
    margin:10px;
}

/* Change button color on hover */
.itemButton:hover {

    background-color: #fff;
    border: 1px #39A7FF  solid ;
    color: #39A7FF  ;
}



.checkoutButton {

    padding: 5px;
    margin-top: 30px;
    border-radius: 5px;
    background-color: #39A7FF;
    color: #fff; 

}

.checkoutButton:hover {

    background-color: #fff;
    color: #39A7FF; 

}


.paymentsContainer {

    margin-top: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 450px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    background-color: #fff;

}


