/* styles.module.css */
.top {
  display: flex ;
  color: #39A7FF ;
  justify-content:center;
  align-items:center ;
  margin:20px;
}

.productsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}


.imageContainer {
  width:300px;
  height:300px;
  background:#39A7FF ;
}

.productItem {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.productCard {
  padding: 20px;
}

.productTitle {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.productDescription {
  color: #666;
  margin-bottom: 15px;
}

.productDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productPrice {
  font-weight: bold;
}

.productPriceAfterDis {
  text-decoration: line-through;
  font-weight: bold;
}

.productButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.productButton:hover {
  background-color: #0056b3;
}
