.page {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #02b2af;
  font-weight: bold;
  font-size: 18px;
}

.container {
    margin: 0;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    min-height: 100vh;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-align:center;
    margin: 50px;
}


/* YourComponent.css or your global CSS file */
.greenButton {
  background-color: #4caf50; /* Green color */
  color: #fff; /* White text color */
  padding: 8px 16px; /* Adjust padding as needed */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.greenButton:hover {
  background-color: #45a049; /* Darker green color on hover */
}





.calenderContainer {
  color: #02b2af;

}

.orders {
    /* width: 100%; */
    background-color: #39A7FF;
    margin: 5px;
    border-radius:5px;
}